@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.question-container {
  max-height: 100vh;
}

.questions-list {
  overflow-y: auto;
  height: 100vh;
}

.container {
  max-height: 100vh;
}

.outter {
  max-height: 50vh;
  overflow-y: auto;
}

.inner {
flex-grow: 20;
flex-shrink: 0;
}

